<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update</title>
    <style>
    *{
        margin:0px;
        padding:0px;
    }
    body{
        background-color: grey;
        font-family: 'Times New Roman', Times, serif;
    }
    .wrapper{
        padding-top:150px;
    }
    input, h1{
        margin-bottom: 50px;
    }
    #maksim{
        padding: 20px;
    }
    </style>
</head>
<body>
    <div class="container col-12" align='center'>
        <div class="wrapper col-5">
            <div align='left' id=maksim>
                <form action='/update_process/{{ trip_info.id }}' method='POST'>
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h1>Update your trip</h1>
                    <label>Destination:</label>
                    <input type='text'name="destination" value="{{trip_info.destination}}" class='d-block'>
                    <label>Start Date:</label>
                    <input type='text' value="{{trip_info.startdate}}" name="startdate">
                    <label>End Date:</label>
                    <input type='text' value="{{trip_info.enddate}}" name="enddate">
                    <label class='d-block'>Plan:</label>
                    <input type='textarea' value="{{trip_info.plan}}" name= "plan"class='d-block'>
                    <button type="submit" name="create_b" class="btn btn-success">Update</button>
                    <a href="/dashboard" type="submit" name="create_b" class="btn btn-danger">Back to Dashboard</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>