<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
    *{
        margin:0px;
        padding:0px;
    }
    .container{
        padding-top:50px;
        font-family: 'Cinzel', serif;
    }
    .wrapper{
    }
    .viewfinder{
        border-style:dotted;
        border-width: 2px;
        border-color: black;
        padding:10px 30px 30px 30px;
    }
    ul, li{
        padding-left:30px;
    }
    h4, h1{
        background-color: #FEC107;
        padding:11px;
        border-radius: 5px;
        padding-left:30px;
    }
    </style>
    
</head>
<body>
    <div class="container col-12" align='center'>
        <div class="wrapper col-4">
            <!--possible FOR or IF-->
            <h1 align='left'>{{ spotlight.first_name }} {{ spotlight.last_name }}</h1>
            <div class='viewfinder' align='left'>
                <h5>ID: {{ spotlight.id }}</h5>
                <p>Info:</p>
                <p>{{ spotlight.notes }}</p>
                <h5>Book(s):</h5>
                <ul>
                    {% for book in published %}
                    <li> {{ book.title }}</li>
                    {% endfor %}
                </ul>
                <p>Did we forget an author? Add one below!</p>
                <form action='/add_book/{{spotlight.id}}' method='POST'>
                    {% csrf_token %}
                    <select name='book_add'>
                        {% for book in books %}
                        <option value='{{book.id}}'>{{ book.title }}</option>
                        {% endfor %}
                    </select>
                    <input type='submit' class='btn btn-warning' value='Add Book'>
                    
                </form>
                <a href='/authors'>Back to authors</a>
            </div>
            <!--endif-->
        </div>
    </div>
</body>
</html>