<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css">
<style>
body {
    background-color: lightblue;
  }
  
h1 {
    color: navy;
    margin-left: 20px;
}
.block{
    background-color: blue;
    width: 170px;
    height: 170px;
    margin: 80px;
    display: inline-block;
}

</style>
</head>
<body>

<h1>This is a heading</h1>
<p>The style of this document is a combination of an external stylesheet, and internal style</p>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>

</body>
</html>