<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create</title>
    <style>
    *{
        margin:0px;
        padding:0px;
    }
    body{
        background-color: grey;
    }
    .wrapper{
        padding-top:150px;
    }
    input, h1{
        margin-bottom: 50px;
    }
    #maksim{
        padding: 20px;
    }
    </style>
</head>
<body>
    <div class="container col-12" align='center'>
        <div class="wrapper col-5">
            <div align='left' id=maksim>
                <form action='/read/{{trip.id}}/update' method='POST'>
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h1>Edit a Trip</h1>
                    <label>Destination:</label>
                    <input type='text' name="destination" value="{{ trip.destination }}" class='d-block'>
                    <label>Start Date:</label>
                    <input type='text' value="{{ trip.startdate }}" name="startdate">
                    <label>End Date:</label>
                    <input type='text' value="{{ trip.enddate }}" name="enddate">
                    <label class='d-block'>Plan:</label>
                    <input type='textarea' value="{{ trip.enddate }}" name= "plan" class='d-block'>
                    <button type="submit" name="create_b" class="btn btn-danger">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>