<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read</title>
    <style>
        .jumbotron{
            padding-bottom:50px; 
        }
        body{
        background-color: grey;
    }
    </style>
</head>
<body>
    <div class="container" align = "center">
        <a href="/success"> Go back</a>
        <h1>Trip {{ read.id }}</h1>
        <div class="jumbotron">
            <h2>Title: {{ read.destination }} </h2>
            <h2>Release Date: {{ read.plan }}</h2>
            <h2>Description: {{ read.startdate }}</h2>
            <h2>Last Udated: {{ read.enddate }}</h2>
         
        </div>
    </div>
</body>
</html>