<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'second_app/css/second_app.css' %}">    
    <script src="{% static 'second_app/js/script.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>Info From Server:</h1>
        <p>Name: {{name}}</p>
        <p>Color: {{favorite_color}}</p>
        <p>Pets</p>
        <ul>
        {% for pet in pets %}
        <li>{{pet}}</li>
        {% endfor %}
        </ul>
        <img src="{% static 'second_app/images/image.png' %}" />
    </div>
</body>
</html>