<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Game</title>
</head>
<body>
    <div class="background">
        <div class="mainpage container col-8.5" style="text-align: center">
            <h1>Welcome to the Great Number Game!</h1>
            <p>I am thinking of a number between 1 and 100</p>
            <form action="/guess" method='POST'>
                <input type="text" name="guess">
                <div>
                    <input type="submit" value="Make a guess!" class="btn btn-primary">
                </div>
            </form>
            <form action="/reset" method="post">
                <input type="submit" class="btn btn-secondary" method='post' value="Reset">
            </form>
            <div>
                <h1>TOO HIGH!</h1>
            </div>
        </div>
    </div>
</body>
</body>
</html>