<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create</title>
    <style>
    *{
        margin:0px;
        padding:0px;
    }
    .wrapper{
        padding-top:150px;
    }
    input, h1{
        margin-bottom: 50px;
    }
    #maksim{
        padding: 20px;
    }
    </style>
</head>
<body>
    <h1>EDIT PAGE</h1>
    <div class="container col-12" align='center'>
        <a href="/"> Go back</a>
        <div class="wrapper col-4">
            <div align='left' id=maksim>
                <form action='/show/{{show.id}}/update' method='POST'>
                    {% csrf_token %}
                    <h1>Edit Show {{ show.id }}</h1>
                    <label>Title:</label>
                    <input type='text' name="title" class='d-block' value="{{ show.title }}">
                    <label>Network:</label>
                    <input type='text' name="network" value="{{ show.network }}">
                    <label>Release Date:</label>
                    <input type='text' value="{{ show.created_at }}">
                    <label class='d-block'>Description:</label>
                    <input type='textarea' name="desc" class='d-block' value="{{ show.desc }}">
                    <button type="submit"  class="btn btn-danger">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>