<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container col-12" align='center'>
        <div class="wrapper col-6">
            <div>
                <h1>Add a New Show</h1>
                <table class='table'>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Network</th>
                            <th scope="col">Authors</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for show in library %}
                        <tr>
                            <td>{{ show.id }}</td>
                            <td>{{ show.title }}</td>
                            <td>{{ show.network }}</td>
                            <td>{{ show.authors.all }}</td>
                            <td>
                                <a href='add_show/{{show.id}}' name='views'value={{book.id}}>View</a>
                                <a href='add_show/{{show.id}}/edit' name='views'value={{book.id}}>Edit</a>
                                <a href='delete' name='views'value={{book.id}}>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href='add_show'>Add a New Show</a>
        </div>
    </div>
</body>
</html>