<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read One</title>
    <style>
        *{
            font-family: 'Times New Roman', Times, serif;
        }
        .text{
            width: 50%;
            margin-left: 330px;
            text-align: left;
        }
    
    </style>
</head>
<body>
    <div class="container" align = "center">
        <a href="/"> Go back</a>
        <h1>TV Show {{ read.id }}</h1>
        <div class="card">
            <div class="text" align = "center">
                <h2>Title: {{ read.title }} </h2>
                <h2>Release Date: June 2018</h2>
                <h2>Description: {{ read.desc }}</h2>
                <h2>Last Udated: {{ read.updated_at }}</h2>
                <a href='{{read.id}}/edit'>Edit</a>
                <a href='{{read.id}}/destroy'>Delete</a>
            </div> 
        </div>
    </div>
</body>
</html>