<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read_One</title>
    <style>
        .jumbotron{
            padding-bottom:50px; 
        }
    
    </style>
</head>
<body>
    <div class="container" align = "center">
        <a href="/"> Go back</a>
        <h1>TV Show {{ read.id }}</h1>
        <div class="jumbotron">
            <h2>Title: {{ read.title }} </h2>
            <h2>Release Date: June 2018</h2>
            <h2>Description: {{ read.desc }}</h2>
            <h2>Last Udated: {{ read.updated_at }}</h2>
            <a href='{{read.id}}/edit'>Edit</a>
            <a href='{{read.id}}/destroy'>Delete</a>
        </div>
    </div>
</body>
</html>