{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}
{% load static %}
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'apps/css/index.css' %}">
    <style>
        div.main{
            background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("{% static 'apps/img/main.jpg' %}");
            background-repeat: repeat-y;
            animation:fadeIn 2s;
        }
        body{
            background-color: #191919;
        }
    </style>
</head>
<body>
    <!-- FIRST ROW -->
    <form action="/contact">
    <div class="main">
            <h1 class = "title">Software Developer</h1>
            <button class = "hire_me_b">HIRE ME TODAY</button>
    </div>
    </form> 
        <form action="/portfolio">
            <div class="row1">
                <h1 class = "title2" align = "center">Coding Dojo Projects</h1>
                <p>Work with local, as well as, international clients has become an amazing opportunity that I don't take for granted. Take a look at my latest Coding Dojo projects that I’ve been busy working on.</p>
                
                <div id = "projects_1" class="projects">

                </div>
                <div id = "projects_2" class="projects">

                </div>
                <div id = "projects_3" class="projects">

                </div>
                <button id = "ch" class = "hire_me_b_b">MORE PROJECTS</button>
            </div>
        </form>

 
        <div id = "row3" class="row">
            <h2 class = "title3" align = "center">My life as a Software Developer</h2>
           <div class = "my_projects">
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
            <div class="life">

            </div>
        <form action="/about">
            </div>
                <button id = "ch1" class = "hire_me_b">LEARN MORE ABOUT ME</button>
            </div>
        </form>
        <div class="row">
            <h2 class = "title3" id = "ch3">Dig a little deeper</h2>
        </div>
        <script>
                $(document).on("scroll", function(){
                 if
               ($(document).scrollTop() > 100){
                   $(".navbar-nav .nav-item .nav-link").addClass("changecolor");
                 }
                 else
                 {
                     $(".navbar-nav .nav-item .nav-link").removeClass("changecolor");
                 }
             });
         </script>
</body>
{% endblock %}