{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}
{% load static %}
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'apps/css/portfolio.css' %}">
        <style>
            div.main{
                background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'apps/img/portfolio.jpg' %}");
                background-repeat: repeat-y;
                animation:fadeIn 2s;
            }
            body{
                background-color: #191919;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <h1 class = "title">Coding Dojo Portfolio</h1>
            <button class = "hire_me_b">HIRE ME TODAY</button>
        </div>
    </body>
{% endblock%}