body{
    background-color: lightslategray;
}
h1{
    padding-left:700px;
    font-size: 300%;
    width: 250px;
    padding-top:20px; 
}
h2{
    padding-left:650px;
    font-size: 200%;
    width: 400px;
    padding-top:300px; 
}