.d-block{
    height: 600px;
}
.po{
    width: 70%;
    margin-bottom: 100px;
    display:inline-block;
}
.po2{
    width: 29.7%;
    margin-bottom: 100px;
    display:inline-block;
}
#r{
    height: 300px;
}

.arrivals{
    font-size: 200%;
    margin-left: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(235, 83, 83);
}

